 <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
  
      
    }
   ul li{
    display: inline;
   }
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #002147;
      padding: 25px;
    }

 .navbar {
      background-color: #002147;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #002147 !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }

  .modal-header,  .close {
      background-color: #084386;
      color:white !important;
      text-align: center;
      font-size: 30px; 

  }
  .modal-footer {
      background-color: #ffffff;
  }
  .modal-dialog
  {

        margin-top: 10%;
  }
</style>
